.bradesco {
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
}

.sendImage {
    width: 115px;
    height: 23px;
    margin-top: 100px;
    margin-left: -124px;
}

.inputjson {
    width: 32%;
    margin-right: 80px;
    height: 180px;
    margin-top: 22px;
}

.sulamerica {
    display: flex;
    margin-left: 200px;
    justify-content: space-between;
}

.cardInfos {
    margin-left: 0;
    padding-left: 0;
}

.list {
    display: flex;
    justify-content: space-between;
    padding-right: 320px;
}

.inputCardInfos {
    margin: 2px;
}

ul {
    list-style-type: none;
    padding-left: 0%;
}

body {
    font-family: Helvetica, sans-serif;
}

h2,
h3 {
    margin-top: 0;
}

form {
    margin-top: 15px;
}

form>input {
    margin-right: 15px;
}

#results {
    float: left;
    margin: 20px;
    padding: 20px;
    border: 1px solid;
    background: #ccc;
    text-align: center;
}

#imageDiv {
    width: 50%;
    text-align: right;
    float: left;
    padding-right: 30px;
    padding-top: 12px;    
}

#resultDiv {
    float: right;
    width: 50%;
    text-align: left;
}

#image_sulamerica {
    width: 320px;
    height: 238px;
}

#mainDiv,
#infoDiv,
#commandTools {
    position: relative;
    margin-top: 10px;
    display: inline-block;
    
}

#infoDiv,
#commandTools {
    width: 90%;
    clear: both;
    text-align: center; 
}

#loadImageDiv
{
    width: 40%;
    text-align: left;
    float: right;
    padding-left: 10px;
}
#processImageDiv {
    width: 60%;
    text-align: right;
    float: left;
}

#processImageDiv > input[type=file] {
    display: inline-flex;
}