.imgAccenture{
    width: 8%;
}
.imgAvanade{
    width: 12.5%;
    margin-top: 0.5%;
}
#showImage {
    margin-top: 8%;
    margin-left: 39%;
    padding: 3.5%;
    border: 1px solid;
    background: #ccc;
    text-align: center;
    margin-bottom: 13%;
    margin-right: 34%;
}
#imageFileInput{
    margin-left: 18%;
    margin-top: 4%;
}
#buttonImg{
    display: flex;
    margin-top: 10%;
    margin-left: 16%;
} 
@media (max-width:600px) {
    #buttonImg {
        display: block;
        margin-left: -10%;
    }
    #imageCapture{
        margin-left: 18% !important;
    }
   
    
}
#inputCardTitle{
    font-weight: bold;
}
.inputCardInfos{
    padding-right: 24% !important;
    
}

#loader {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    width: 150px;
    height: 150px;
    margin: auto;
    border: 16px solid #aca9a9;
    border-radius: 50%;
    border-top: 16px solid white;
    overflow: show;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    display: none;
 }

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hide-loader{
display:none;
}

.inputCardInfos{
    font-size: 14px;
}

